<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
</head>
<body>
  <h1>ログイン</h1>

  <!-- ログイン失敗メッセージ -->
  <div th:if="${param.error}" style="color:red">
    ユーザー名またはパスワードが違います
  </div>

  <!-- ログアウト成功メッセージ -->
  <div th:if="${param.logout}" style="color:green">
    ログアウトしました
  </div>

  <form method="post" th:action="@{/login}">
    <div>
      <label>ユーザー名</label><br>
      <input type="text" name="username" placeholder="ユーザー名">
    </div>
    <br>
    <div>
      <label>パスワード</label><br>
      <input type="password" name="password" placeholder="パスワード">
    </div>
    <br>
    <button type="submit">ログイン</button>
  </form>
</body>
</html>